# --- Environnement (dev | prod)
COMPOSE_ENV=dev

# --- Backend
BACKEND_PORT=3000
BACKEND_DOMAIN=api.localhost
# Connexion PostgreSQL (à définir en local / Compose, jamais en clair dans le dépôt)
# Exemple : postgresql://user:password@host:5432/devops_db
DATABASE_URL=

# --- Frontend
FRONTEND_PORT=3001
FRONTEND_DOMAIN=app.localhost
