.env
.cursor/

# Dependencies & build
node_modules/
dist/
build/

# Logs & env local
*.log
.env.local
.env.*.local


traefik/certs/*
!traefik/certs/.gitkeep

traefik/auth/traefik-users
traefik/auth/adminer-users